<section class="content-header" [@simpleFadeAnimation]="'in'">

    <!-- /.content-header -->
   
    <div class="row" >
     <div class="col-lg-12">
         <section class="card">
   
                 <h2 class="card-title"></h2><!--Liste des Véhicules-->
        
          
                 <div class="spinner4" *ngIf="isLoadingResults">
                   <div class="bounce1"></div>
                   <div class="bounce2"></div>
                   <div class="bounce3"></div>
               </div>
   
             <section class="card card-primary">
              <header class="card-header bg-secondary" style="padding: 10px">
              <div class="row">
                <div class="col-md-9 text-left">
                  <h2 class="card-title text-white" style="padding: 0px; margin: 0px;">
                    <span style="font-weight: 500;" class="text-warning mr-2">ASSURANCE</span>VEHICULE [{{imatriculation|uppercase}}] - {{marque|uppercase}} {{modele|uppercase}}</h2>
             
                </div>
            
              <div class="col-md-3 text-right">
                  <button type="button" class="btn btn-success btn-sm" (click)="actionClose(1)" [ngClass]="{'hidden': ActionOpen}">
                    <i class="fa fa-plus mr-2"></i> NOUVEAU</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="actionClose(0)" [ngClass]="{'hidden': ActionClose}">
                      <i class="fas fa-times mr-2"></i>FERMER</button>
              </div>
          </div>
   
                </header>
                  
             
                 <div class="card-body">
                 
                   <div class="row"  [ngClass]="{'hidden': hidden}">
                    <div class="col-lg-2-5 col-xl-1-5 text-center">
                       
                      <div class="thumb-info mb-3">
                        <!--img src="assets/img/!logged-user.jpg" width="150" alt="Joseph Doe" class="image-preview rounded img-fluid"-->
    
                        <a href="{{imagePreview}}" target="_blank"> <img  [src]="imagePreview" width="200" class="image-preview rounded img-fluid"></a>
                        <!--div class="thumb-info-title">
                          <span class="thumb-info-inner">John Doe</span>
                          <span class="thumb-info-type">CEO</span>
                        </div-->
                      </div>

                        <input style="display: none" type="file" (change)="onFileUpload($event)" #selectFile>
<button (click)="selectFile.click()">Image Assurance</button>
                    </div>
                    <div class="col-lg-3-5 col-xl-4-5" style="padding-top: 5px;">
                      <form [formGroup]="vehiculeForm" (ngSubmit)="onSubmitForm(vehiculeForm.value)"
                      class="ecommerce-form action-buttons-fixed" action="#" method="post">
                      <input hidden type="text" class="form-control" formControlName="assure_ID" id="assure_ID">
                      <div class="row">
                        <div class="col-md-3 inputSpace">
                          <label for="assure" class="form-label inputSpaceText">Assuré<span class="Oblig">*</span></label>
                          <input type="text" class="form-control" formControlName="assure"
                            id="assure">
                        </div>

                        <div class="col-md-3 inputSpace">
                          <label for="adresse" class="form-label inputSpaceText">Adresse<span class="Oblig">*</span></label>
                          <input type="text" class="form-control" formControlName="adresse"
                            id="Montantvisi">
                        </div>

                        <div class="col-md-3 inputSpace">
                          <label for="profession" class="form-label inputSpaceText">Profession</label>
                          <input type="text" class="form-control" formControlName="profession"
                            id="Montantvisi">
                        </div>

                        <div class="col-md-3 inputSpace">
                          <label for="assureur_ID" class="form-label inputSpaceText">Assureur<span class="Oblig">*</span></label>
                          <select id="assureur_ID" class="form-control"
                          formControlName="assureur_ID" name="assureur_ID">
                          <option selected value="">------ Choisir ------ </option>
                          <option *ngFor="let assureur of listeassureur.results" value="{{assureur.ID}}">
                            {{assureur.assueur | uppercase}}</option>
                        </select>
                        </div>

                        <div class="col-md-4 inputSpace">
                            <label for="numpolice" class="form-label inputSpaceText">Police N°<span class="Oblig">*</span></label>
                            <input type="text" class="form-control" formControlName="numpolice"
                              id="Montantvisi">
                          </div>

                        <div class="col-md-2 inputSpace">
                          <label for="datedebut" class="form-label inputSpaceText">Date Début <span class="Oblig">*</span></label>
                          <input type="date" class="form-control inputSpaceText"
                            formControlName="datedebut" id="datedebut">
                        </div>
                        <div class="col-md-2 inputSpace">
                          <label for="datefin" class="form-label inputSpaceText">Date FIn <span class="Oblig">*</span></label>
                          <input type="date" class="form-control" formControlName="datefin"
                            id="datefin">
                        </div>
                        <div class="col-md-2 inputSpace">
                          <label for="rappel" class="form-label inputSpaceText">Rappel (Jour) <span class="Oblig">*</span></label>
                          <input type="number" class="form-control" placeholder="Nbr de jour" formControlName="rappel"
                            id="rappel">
                        </div>
                        <div class="col-md-2 inputSpace">
                          <button type="button"
                          class="btn btn-dark btn-sm btn-px-4 py-3 align-items-center font-weight-semibold line-height-1"
                          style="margin-top:25px;"  type="submit" [disabled]="vehiculeForm.invalid">
                          <div *ngIf="addOrUpdate;then Ajouter else Modifier"></div> 
                          <ng-template #Ajouter><i class="fa fa-plus text-4 mr-2"></i> Ajouter</ng-template>
                          <ng-template #Modifier><i class="fa fa-plus text-4 mr-2"></i> Modifier </ng-template>
                        </button>
                          </div>

                     
                       
      
                    
                      </div>
                     </form>
                    </div>
                  </div>
   
                 


                
                    <div class="row">
                      <div class="spinner4" *ngIf="ModifsLoadingResults">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    
                    
                    <div class="col-md-12" style="margin-top: 20px;">
                        <mat-form-field >
                            <mat-label>Rechercher une assurance</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Immatriculation , modèle , direction ..." #input>
                        </mat-form-field>
        
                        <div>
                         
                            <table class="table table-responsive-md  table-bordered table-striped mb-0 fontTable"
                            mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="number">
                                <th *matHeaderCellDef mat-sort-header style="width: 1%;" class="text-center"> # </th>
                                <td *matCellDef="let vehicule; let i = index" class="text-center"> {{i + 1}} </td>
                            </ng-container>
                            
                             <!-- ID Column -->
                             <ng-container matColumnDef="assure">
                              <th *matHeaderCellDef mat-sort-header style="width: 15%;" class="text-center"> Assuré </th>
                              <td *matCellDef="let vehicule">
                                {{vehicule.assure|uppercase}}
                              </td>
                          </ng-container> 

                           <!-- ID Column -->
                           <ng-container matColumnDef="assueur">
                            <th *matHeaderCellDef mat-sort-header style="width: 15%;"> Assurance </th>
                            <td *matCellDef="let vehicule">{{vehicule.assueur|uppercase}}</td>
                        </ng-container> 
        
                            <!-- ID Column -->
                            <ng-container matColumnDef="numpolice">
                                <th *matHeaderCellDef mat-sort-header style="width: 15%;"> Numéro Police </th>
                                <td *matCellDef="let vehicule">{{vehicule.numpolice|uppercase}}</td>
                            </ng-container> 
        
                            <!-- Name Column -->
                            <ng-container matColumnDef="datedebut">
                                <th *matHeaderCellDef mat-sort-header style="width: 10%;">Date Début</th>
                                <td *matCellDef="let vehicule">
                                    {{vehicule.datedebut| date: 'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
        
                            <!-- Name Column -->
                            <ng-container matColumnDef="datefin">
                                <th *matHeaderCellDef mat-sort-header style="width: 10%;">Date Fin</th>
                                <td *matCellDef="let vehicule">
                                    {{vehicule.datefin| date: 'dd/MM/yyyy'}}
                                </td>
                            </ng-container> 

                             <!-- Name Column -->
                             <ng-container matColumnDef="rappel">
                              <th *matHeaderCellDef mat-sort-header style="width: 10%;">Rappel</th>
                              <td *matCellDef="let vehicule">
                                  {{vehicule.rappel}} jour(s)
                              </td>
                          </ng-container> 
        
                          
        
        
                            <!-- Color Column -->
                            <ng-container matColumnDef="action">
                                <th *matHeaderCellDef mat-sort-header style="width: 11%;"> </th>
                                <td *matCellDef="let vehicule">
                                    <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="loadOneAssurance(vehicule.AssuranceID)">
                                        <i class="nav-icon fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="ItemSupprime(vehicule.AssuranceID)" data-toggle="modal"
                                        data-target="#modal-info">
                                        <i class="nav-icon fas fa-trash"></i>
                                    </button>
                                </td>
                            </ng-container>
        
                            <!-- Color Column -->
        
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
        
                        <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
        
        
                          </div>
                    </div>
                   </div>
                 </div>
     
     
             </section>
             
             
       
         </section>
     </div>
   
   </div>
   
       <!-- /.container-fluid -->
   </section>




   <!-- /.modal -->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
      <div class="modal-content bg-default">
          <div class="modal-header" style="height: 50px;">
              <h2 class="modal-title">PARC AUTO - RTI </h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <p>Voulez-vous supprimer l'assurance ?</p>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-danger" (click)="supprime()"
                  data-dismiss="modal">Supprimer</button>
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->