table {
    width: 100%;
  }
  
  .mat-form-field {
    margin-top: -20px;
    font-size: 14px;
    width: 100%;
  }

  .mat-header-cell,
  .mat-sort-header {
   background-color: white;
   color: black;
   font-size: 14px;
  
  }
 .mat-cell {
    padding: 5px;
  }