<div class="pt-4">
    <div class="bg-dark py-2 px-3 rounded">
        <h3 class="m-0 d-flex text-warning">
            <div class="text-muted">
                <i class="fa fa-sitemap"></i>&nbsp;&nbsp;
                STRUCTURE .::.
            </div>Pièce
        </h3>
    </div>
    <div class="border rounded px-3 py-2 mt-3">

        <form>
        <div class="d-flex align-items-center justify-content-between mb-2">

            <p>
                <i class="fa fa-plus-circle text-success"></i>&nbsp;&nbsp;
                Edition Pièce
            </p>
        </div>
        <div class="d-flex">
            <div class="w-50" style="margin-right: 5px;">
                <form class="row px-3" [formGroup]="pieceGroup" (ngSubmit)="onSubmitPiece()">
                    <div class="col-12 form-group mb-0">
                        <input type="text" class="form-control" formControlName="ID" placeholder="ID" hidden>
                        <label>Type de pièces <span style="color: red;">*</span></label>
                        <ng-select [items]="allTypePiece" bindValue="typePiece" bindLabel="typePiece" placeholder="Type pièce"
                            formControlName="typePiece">
                        </ng-select>
                    </div>

                    <div class="col-12 form-group">
                        <label>Libellé de la pièce <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" placeholder="Ex : Moteur" formControlName="designation">
                    </div>

                    <div class="col-6 mb-3">
                        <label>Jours avant rechange <span style="color: red;">*</span></label>
                        <input type="number" class="form-control" min="0" formControlName="nbreJours">
                    </div>
                    <div class="col-6 mb-3">
                        <label>Km avant rechange <span style="color: red;">*</span></label>
                        <input type="number" class="form-control" min="0" formControlName="nbreKm">
                    </div>

                    <div class="col-12 center my-2">
                        <button type="button" class="btn btn-danger w-25">
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-success ml-3 w-25" [disabled]="pieceGroup.invalid">
                            <i class="fa fa-database"></i>
                            Enregistrer
                        </button>
                    </div>
                </form>
            </div>
            <div class="w-50 ml-2 mr-3" *ngIf="!isTypeList">
                <form class="row border rounded bg-secondary px-3 py-2 mt-3" [formGroup]="pieceTypeGroup">
                    <div class="col-12">
                        <p class="text-white">
                            <i class="fa fa-plus-circle text-success"></i>&nbsp;&nbsp;
                            Ajouter un Type de Pièces
                        </p>
                    </div>

                    <div class="col-12 form-group">
                        <label>Libellé du type <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" placeholder="ID" formControlName="ID" hidden>
                        <input type="text" class="form-control" placeholder="Ex : [ELECTRIQUE]" formControlName="typePiece">
                    </div>

                    <div class="col-12 center my-2">
                        <button type="submit" class="btn btn-success w-25" [disabled]="pieceTypeGroup.invalid" (click)="onSubmitPieceType()">
                            <i class="fa fa-plus-circle"></i>
                            Ajouter
                        </button>
                        <button type="button" class="btn btn-info w-auto ml-3" (click)="isTypeList = true">
                            <i class="fa fa-"></i>
                            Liste des types
                        </button>
                    </div>
                </form>
            </div>

            <div class="w-50 ml-2 mr-3" *ngIf="isTypeList">
                <div class="row border rounded bg-secondary px-3 py-2 mt-3">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th class="py-1">Libellé.</th>
                                    <th class="py-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let typePiece of allTypePiece">
                                    <td class="py-2"> {{typePiece.typePiece}}</td>
                                    <td class="py-2" align="right">
                                        <button class="btn btn-sm btn-outline-primary py-1  ml-2"
                                            title="Modifier les informations"
                                            
                                        >
                                            <small><i class="fas fa-edit"></i></small>
                                        </button>
                                        <button class="btn btn-sm btn-outline-danger py-1 ml-2"
                                            title="Supprimer le piece" (click)="onDeletePieceType()">
                                            <small><i class="fas fa-trash"></i></small>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12 center my-2">
                        <button type="button" class="btn btn-sm w-auto text-white" (click)="isTypeList = false">
                            <i class="fa fa-arrow-left"></i>
                            Retour
                        </button>
                    </div>
                </div>
            </div>

        </div>
        </form>
    </div>

    <div class="border rounded px-3 py-2 mt-3">
        <div class="d-flex mb-3 justify-content-between align-items-center">
            <div class="w-50">
                <input type="search" class="form-control w-10" placeholder="Tapez votre recherche ici...">
            </div>
            <div class="rounded text-muted border py-2 px-3">
                Total :: {{ data.length }}
            </div>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th class="py-1">Libellé.</th>
                    <th class="py-1">Type.</th>
                    <th class="py-1">Nbre de jours avant rechange.</th>
                    <th class="py-1">KM avant rechange.</th>
                    <th class="py-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let piece of data | paginate   : { itemsPerPage: tableSize, currentPage: page, totalItems: count };let i = index">
                    <td class="py-2">{{piece.designation}}</td>
                    <td class="py-2 text-success">
                    {{piece.typePiece}}
                    </td>
                    <td class="py-2">{{piece.nbreJours}}</td>
                    <td class="py-2 text-info">
                        {{piece.nbreKm}}
                    </td>
                    <td class="py-2" align="right">
                        <button class="btn btn-sm btn-outline-primary py-1  ml-2"
                            title="Modifier les informations"
                            (click)="getOnePiece(piece.ID)">
                            <small><i class="fas fa-edit"></i></small>
                        </button>
                        <button class="btn btn-sm btn-outline-danger py-1 ml-2"
                            title="Supprimer la piece" (click)="questionSuppression(piece.ID)">
                            <small><i class="fas fa-trash"></i></small>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="px-2 d-flex justify-content-end align-items-center" style="font-size: smaller;" *ngIf="data.length > 0">
            <p>Total : [ {{ data.length }} ]</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
            <div class="d-flex mr-3">
                Enregistrements par page :&nbsp;&nbsp;
                <select id="items-per-page" #value class="mr-3 mb-3" (change)="changeSize(value.value)">
                    <option *ngFor="let size of tableSizes" [value]="size">{{ size }}</option>
                </select>
            </div>
        
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Précédent" nextLabel="Suivant" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>