<section class="content-header" [@simpleFadeAnimation]="'in'">
  <!-- /.content-header -->

  <div class="row">
    <div class="col-lg-12">
      <section class="card">
        <h2 class="card-title"></h2>
        <!--Liste des Véhicules-->

        <div class="spinner4" *ngIf="isLoadingResults">
          <!---->
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>

        <section class="card card-primary">
          <header class="card-header bg-secondary" style="padding: 10px">
            <div class="row">
              <div class="col-md-9 text-left">
                <h2
                  class="card-title text-white"
                  style="padding: 0px; margin: 0px"
                >
                  <i class="fa fa-sitemap mr-2"></i>
                  <span style="font-weight: 500" class="text-warning mr-2"
                    >STRUCTURE</span
                  >- TYPE ENTRETIEN
                </h2>
              </div>

              <div class="col-md-3 text-right">
                <button type="button" class="btn btn-success btn-sm" (click)="actionClose(1)"
                [ngClass]="{ hidden: ActionOpen }">
                  <!---->
                  <i class="fa fa-plus mr-2"></i> NOUVEAU
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="actionClose(0)"
                [ngClass]="{ hidden: ActionClose }">
                  <!-- -->
                  <i class="fas fa-times mr-2"></i>FERMER
                </button>
              </div>
            </div>
          </header>

          <div class="card-body">
            <div class="row" [ngClass]="{ hidden: hidden }">
              <!---->
              <!--  -->

              <div class="col-md-12" style="padding-top: 5px">
                <div class="d-flex">
                  <div class="w-50">
                    <form [formGroup]="typeentretienForm">
                      <div class="row">
                        <div class="col-12 form-group">
                          <input
                            type="text"
                            class="form-control"
                            formControlName="ID"
                            placeholder="ID "
                            [(ngModel)]="varID"
                            hidden
                          />
                          <label
                            for="designation"
                            class="form-label inputSpaceText"
                            >Désignation <span class="Oblig">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            formControlName="designation"
                          />
                        </div>

                        <div class="col-4 mb-3">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input
                                  type="checkbox"
                                  checked
                                  formControlName="programable"
                                />
                              </div>
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              disabled
                              value="Programmable"
                            />
                          </div>
                        </div>

                        <div class="col-5 mb-3">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input
                                  type="checkbox"
                                  id="check"
                                  checked
                                  formControlName="controlle"
                                  [(ngModel)]="controlle"
                                />
                              </div>
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              disabled
                              value="Contrôle sur entretien"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="input-group" *ngIf="controlle == true">
                            <input
                              type="number"
                              class="form-control"
                              formControlName="nbjourlimite"
                              min="1"
                              max="365"
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">Jour(s)</span>
                            </div>
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="input-group" hidden>
                            <input
                              type="number"
                              class="form-control"
                              formControlName="intervaljourprog"
                              min="1"
                              max="360"
                              value="0"
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">Jour(s)</span>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                            <div class="col-12 col-md-12">
                                <button
                                  style="margin-right: 10px"
                                  type="submit"
                                  class="submit-button btn btn-success btn-px-4 py-3 align-items-center font-weight-semibold line-height-1"
                                  data-loading-text="Loading..."
                                  [disabled]="typeentretienForm.invalid"
                                  (click)="enregistrer()"
                                >
                                  <i class="fas fa-save text-4 mr-1"></i> Enregister
                                </button>
              
                                <span
                                  class="submit-button btn btn-danger btn-px-4 py-3 align-items-center font-weight-semibold line-height-1"
                                  (click)="reinitialiseForm()"
                                >
                                  <i class="fas fa-times text-4 mr-1"></i> Quitter
                                </span>
                              </div>
                          <!--button
                            class="btn btn-danger"
                            (click)="reinitialiseForm()"
                          >
                            Annuler
                          </button>
                          <button
                            class="btn btn-success ml-3"
                            (click)="enregistrer()"
                            [disabled]="typeentretienForm.invalid"
                          >
                            <i class="fa fa-database"></i>
                            Enregistrer
                          </button-->
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="ml-3" style="width: 50%">
                    
                    <table class="table table-striped border">
                      <thead class="table-dark">
                        <tr>
                          <th class="py-1 text-4 p-2">
                            <button
                            class="btn btn-sm btn-warning mr-2"
                            *ngIf="varID"
                            (click)="resetDetails()"
                            data-toggle="modal"
                            data-target="#staticBackdrop"
                          >
                            <i class="fas fa-plus-circle"></i>
                            Ajout détails
                          </button>
                           Liste des détails du type d'entretien.
                          </th>
                          <th class="py-1">
                     
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let detail of dataD
                              | paginate
                                : {
                                    itemsPerPage: tableSizeD,
                                    currentPage: pageD,
                                    totalItems: countD
                                  };
                            let i = index
                          "
                        >
                          <td class="py-2">{{ detail.designation }}</td>
                          <td class="py-2" align="right">
                            <button
                              class="btn btn-sm btn-outline-primary py-1"
                              (click)="getOneDetailsByID(detail.ID)"
                              data-toggle="modal"
                              data-target="#staticBackdrop"
                            >
                              <small><i class="fas fa-edit"></i></small>
                            </button>

                            <button
                              class="btn btn-sm btn-outline-danger py-1 ml-2"
                              (click)="
                                questionSuppressiondetails(
                                  detail.ID,
                                  detail.ID_Type
                                )
                              "
                            >
                              <small><i class="fas fa-trash"></i></small>
                            </button>
                          </td>
                        </tr>
                      </tbody>

                      <tbody>
                        <tr>
                          <td class="py-2" colspan="2" align="center">
                            <small
                              >Cliquez sur le bouton
                              <strong>Ajout détails</strong> pour ajouter les
                              détails de l'entretien.</small
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div
                      class="px-2 d-flex justify-content-end align-items-center"
                      style="font-size: smaller"
                      *ngIf="dataD.length > 0"
                    >
                      <p>Total : [ {{ dataD.length }} ]</p>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <div class="d-flex mr-3">
                        Enregistrements par page :&nbsp;&nbsp;
                        <select
                          id="items-per-page"
                          #value
                          class="mr-3 mb-3"
                          (change)="changeSizeD(value.value)"
                        >
                          <option
                            *ngFor="let size of tableSizesD"
                            [value]="size"
                          >
                            {{ size }}
                          </option>
                        </select>
                      </div>

                      <div class="d-flex justify-content-center">
                        <pagination-controls
                          previousLabel="Précédent"
                          nextLabel="Suivant"
                          (pageChange)="onTableDataChangeD($event)"
                        >
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>

                <!--form
                  [formGroup]="vehiculeForm"
                  (ngSubmit)="onSubmitForm(vehiculeForm.value)"
                  class="ecommerce-form action-buttons-fixed"
                  action="#"
                  method="post"
                >
                  <input
                    hidden
                    type="text"
                    class="form-control"
                    formControlName="AssureurID"
                    id="AssureurID"
                  />

                  <div class="row">
                    <div class="col-md-4 inputSpace">
                      <label for="assueur" class="form-label inputSpaceText"
                        >Assureur <span class="Oblig">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="assueur"
                        id="assueur"
                      />
                    </div>
                    <div class="col-md-4 inputSpace">
                      <label for="adresse" class="form-label inputSpaceText"
                        >Adresse <span class="Oblig">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="adresse"
                        id="adresse"
                      />
                    </div>
                    <div class="col-md-4 inputSpace">
                      <label for="contact" class="form-label inputSpaceText"
                        >Contact <span class="Oblig">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="contact"
                        id="contact"
                      />
                    </div>
                    <div class="col-12 col-md-12 text-center">
                      <button
                        style="margin-right: 10px"
                        type="submit"
                        [disabled]="vehiculeForm.invalid"
                        class="submit-button btn btn-success btn-px-4 py-3 align-items-center font-weight-semibold line-height-1"
                        data-loading-text="Loading..."
                      >
                        <i class="fas fa-save text-4 mr-1"></i> Enregister
                      </button>

                      <span
                        class="submit-button btn btn-danger btn-px-4 py-3 align-items-center font-weight-semibold line-height-1"
                        (click)="actionClose(0)"
                      >
                        <i class="fas fa-times text-4 mr-1"></i> Quitter
                      </span>
                    </div>
                  </div>
                </form-->
              </div>
            </div>

            <div class="row">
              <div class="spinner4" *ngIf="ModifsLoadingResults">
                <!---->
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>

              <div class="col-md-12" style="margin-top: 20px">
                <mat-form-field>
                  <mat-label>Rechercher un type d'entretien</mat-label>
                  <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Immatriculation , modèle , direction ..."
                    #input
                  />
                </mat-form-field>

                <div>
                  <table
                    class="table table-responsive-md table-bordered table-striped mb-0 fontTable"
                    mat-table
                    [dataSource]="dataSource"
                    matSort
                  >
                    <ng-container matColumnDef="number">
                      <th
                        *matHeaderCellDef
                        mat-sort-header
                        style="width: 1%"
                        class="text-center"
                      >
                        #
                      </th>
                      <td
                        *matCellDef="let vehicule; let i = index"
                        class="text-center"
                      >
                        {{ i + 1 }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="designation">
                      <th *matHeaderCellDef mat-sort-header style="width: 22%">
                        Désignation
                      </th>
                      <td *matCellDef="let vehicule">
                        {{ vehicule.designation }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="controlle">
                      <th *matHeaderCellDef mat-sort-header style="width: 5%">
                        Est contrôlé
                      </th>
                      <td
                        *matCellDef="let vehicule"
                        [ngClass]="setColor(vehicule.controlle)"
                        class="text-center"
                      >
                        <i
                          *ngIf="vehicule.controlle == 1"
                          class="fas fa-check fa-lg"
                        ></i>
                        <i
                          *ngIf="vehicule.controlle == 0"
                          class="fas fa-window-close fa-lg"
                        ></i>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="nbjourlimite">
                      <th *matHeaderCellDef mat-sort-header style="width: 7%">
                        Interval de contrôle
                      </th>
                      <td *matCellDef="let vehicule">
                        {{ vehicule.nbjourlimite }} jours
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="programable">
                      <th *matHeaderCellDef mat-sort-header style="width: 5%">
                        Est programmable
                      </th>
                      <td
                        *matCellDef="let vehicule"
                        [ngClass]="setColor(vehicule.programable)"
                        class="text-center"
                      >
                        <i
                          *ngIf="vehicule.programable == 1"
                          class="fa fa-check fa-lg"
                        ></i>
                        <i
                          *ngIf="vehicule.programable == 0"
                          class="fas fa-window-close fa-lg"
                        ></i>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <th
                        *matHeaderCellDef
                        mat-sort-header
                        style="width: 8%"
                      ></th>
                      <td *matCellDef="let vehicule">
                        <button
                          class="btn btn-warning btn-sm mr-2"
                          routerLink="/admin/admin/structure/entretien-filtre"
                        >
                          <small><i class="fas fa-list-alt"></i></small>
                        </button>
                        <button
                          class="btn btn-secondary btn-sm mr-2"
                          (click)="getOneTypeentretien(vehicule.ID)"
                        >
                          <i class="nav-icon fas fa-edit"></i>
                        </button>
                        <button
                          class="btn btn-danger btn-sm"
                          (click)="questionSuppression(vehicule.ID)"
                        >
                          <i class="nav-icon fas fa-trash"></i>
                        </button>
                        <!--button
                          type="button"
                          class="btn btn-secondary btn-sm mr-2"
                          (click)="loadOne(vehicule.ID)"
                        >
                          <i class="nav-icon fas fa-edit"></i>
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="ItemSupprime(vehicule.ID)"
                          data-toggle="modal"
                          data-target="#modal-info"
                        >
                          <i class="nav-icon fas fa-trash"></i>
                        </button-->
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>

                  <mat-paginator
                    [pageSizeOptions]="[10, 20, 30, 100]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>

  <!-- /.container-fluid -->
</section>

<!-- /.modal -->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content bg-default">
      <div class="modal-header" style="height: 50px">
        <h2 class="modal-title">PARC AUTO - RTI</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous supprimer un usage ?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <!--(click)="supprime()"-->
          Supprimer
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.modal -->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content bg-default">
      <div class="modal-header" style="height: 50px">
        <h2 class="modal-title">PARC AUTO - RTI</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous supprimer la marque ?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          <!--(click)="supprime()"-->
          Supprimer
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--div class="pt-4">
  <div class="bg-dark py-2 px-3 rounded">
    <h3 class="m-0 d-flex text-warning">
      <div class="text-muted">
        <i class="fa fa-sitemap"></i>&nbsp;&nbsp; STRUCTURE .::.
      </div>
      Type entretien
    </h3>
  </div>
  <div class="border rounded px-3 py-2 mt-3">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <p>
        <i class="fa fa-plus-circle text-success"></i>&nbsp;&nbsp; Nouveau Type
        Entretien
      </p>
      <button
        class="btn btn-sm btn-warning"
        *ngIf="varID"
        (click)="resetDetails()"
        data-toggle="modal"
        data-target="#staticBackdrop"
      >
        <i class="fas fa-plus-circle"></i>
        Ajout détails
      </button>
    </div>
    <div class="d-flex">
      <div class="w-50">
        <form [formGroup]="typeentretienForm">
          <div class="row">
            <div class="col-12 form-group">
              <input
                type="text"
                class="form-control"
                formControlName="ID"
                placeholder="ID "
                [(ngModel)]="varID"
                hidden
              />
              <input
                type="text"
                class="form-control"
                formControlName="designation"
                placeholder="Désignation *"
              />
            </div>

            <div class="col-6 mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input
                      type="checkbox"
                      id="check"
                      checked
                      formControlName="controlle"
                      [(ngModel)]="controlle"
                    />
                  </div>
                </div>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  value="Contrôle sur entretien"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="input-group" *ngIf="controlle == true">
                <input
                  type="number"
                  class="form-control"
                  formControlName="nbjourlimite"
                  min="1"
                  max="365"
                />
                <div class="input-group-append">
                  <span class="input-group-text">Jour(s)</span>
                </div>
              </div>
            </div>

            <div class="col-6 mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input
                      type="checkbox"
                      checked
                      formControlName="programable"
                    />
                  </div>
                </div>
                <input
                  type="text"
                  class="form-control"
                  disabled
                  value="Programmable"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="input-group" hidden>
                <input
                  type="number"
                  class="form-control"
                  formControlName="intervaljourprog"
                  min="1"
                  max="360"
                  value="0"
                />
                <div class="input-group-append">
                  <span class="input-group-text">Jour(s)</span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <button class="btn btn-danger" (click)="reinitialiseForm()">
                Annuler
              </button>
              <button
                class="btn btn-success ml-3"
                (click)="enregistrer()"
                [disabled]="typeentretienForm.invalid"
              >
                <i class="fa fa-database"></i>
                Enregistrer
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="ml-3" style="width: 50%">
        <table class="table table-striped border">
          <thead class="table-dark">
            <tr>
              <th class="py-1">Liste des détails du type d'entretien.</th>
              <th class="py-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let detail of dataD
                  | paginate
                    : {
                        itemsPerPage: tableSizeD,
                        currentPage: pageD,
                        totalItems: countD
                      };
                let i = index
              "
            >
              <td class="py-2">{{ detail.designation }}</td>
              <td class="py-2" align="right">
                <button
                  class="btn btn-sm btn-outline-primary py-1"
                  (click)="getOneDetailsByID(detail.ID)"
                  data-toggle="modal"
                  data-target="#staticBackdrop"
                >
                  <small><i class="fas fa-edit"></i></small>
                </button>

                <button
                  class="btn btn-sm btn-outline-danger py-1 ml-2"
                  (click)="
                    questionSuppressiondetails(detail.ID, detail.ID_Type)
                  "
                >
                  <small><i class="fas fa-trash"></i></small>
                </button>
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <td class="py-2" colspan="2" align="center">
                <small
                  >Cliquez sur le bouton <strong>Ajout détails</strong> pour
                  ajouter les détails de l'entretien.</small
                >
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="px-2 d-flex justify-content-end align-items-center"
          style="font-size: smaller"
          *ngIf="dataD.length > 0"
        >
          <p>Total : [ {{ dataD.length }} ]</p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <div class="d-flex mr-3">
            Enregistrements par page :&nbsp;&nbsp;
            <select
              id="items-per-page"
              #value
              class="mr-3 mb-3"
              (change)="changeSizeD(value.value)"
            >
              <option *ngFor="let size of tableSizesD" [value]="size">
                {{ size }}
              </option>
            </select>
          </div>

          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Précédent"
              nextLabel="Suivant"
              (pageChange)="onTableDataChangeD($event)"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded px-3 py-2 mt-3">
    <div class="d-flex mb-3 justify-content-between align-items-center">
      <div class="w-50">
        <input
          type="search"
          class="form-control w-10"
          [(ngModel)]="searchValue"
          placeholder="Tapez votre recherche ici..."
        />
      </div>
      <div class="rounded text-muted border py-2 px-3">
        Total : {{ data.length }}
      </div>
    </div>
    <table class="table table-striped border">
      <thead class="table-dark">
        <tr>
          <th class="py-1">Désignation.</th>
          <th class="py-1">Est contrôlé.</th>
          <th class="py-1">Interval de contrôle.</th>
          <th class="py-1">Est programmable.</th>
          <th class="py-1">Interval de programmation.</th>
          <th class="py-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let typeentretien of data
              | searchtypefilter : searchValue
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <td class="py-2">{{ typeentretien.designation }}</td>
          <td
            class="py-2"
            align="center"
            [ngClass]="setColor(typeentretien.controlle)"
          >
            <i *ngIf="typeentretien.controlle == 1" class="fas fa-check"></i>
            <i
              *ngIf="typeentretien.controlle == 0"
              class="fas fa-window-close"
            ></i>
          </td>
          <td class="py-2">{{ typeentretien.nbjourlimite }} jours</td>
          <td
            class="py-2"
            align="center"
            [ngClass]="setColor(typeentretien.programable)"
          >
            <i *ngIf="typeentretien.programable == 1" class="fas fa-check"></i>
            <i
              *ngIf="typeentretien.programable == 0"
              class="fas fa-window-close"
            ></i>
          </td>
          <td class="py-2">{{typeentretien.intervaljourprog}} jours </td>
          <td class="py-2" align="right">
            <button
              class="btn btn-sm btn-outline-info py-1"
              routerLink="/admin/admin/structure/entretien-filtre"
            >
              <small><i class="fas fa-list-alt"></i></small>
            </button>
            <button
              class="btn btn-sm btn-outline-primary py-1 ml-2"
              (click)="getOneTypeentretien(typeentretien.ID)"
            >
              <small><i class="fas fa-edit"></i></small>
            </button>
            <button
              class="btn btn-sm btn-outline-danger py-1 ml-2"
              (click)="questionSuppression(typeentretien.ID)"
            >
              <small><i class="fas fa-trash"></i></small>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="px-2 d-flex justify-content-end align-items-center"
      style="font-size: smaller"
      *ngIf="data.length > 0"
    >
      <p>Total : [ {{ data.length }} ]</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="d-flex mr-3">
        Enregistrements par page :&nbsp;&nbsp;
        <select
          id="items-per-page"
          #value
          class="mr-3 mb-3"
          (change)="changeSize(value.value)"
        >
          <option *ngFor="let size of tableSizes" [value]="size">
            {{ size }}
          </option>
        </select>
      </div>

      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="Précédent"
          nextLabel="Suivant"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div-->

<div class="modal fade" tabindex="-1" id="staticBackdrop">
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="typeentretiendetailsForm" class="modal-content">
      <div class="modal-header bg-dark">
        <h3 class="modal-title m-0">Ajout / Modification des details</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="message message--success bg-light"
          *ngIf="validationDetails"
        >
          <i
            [ngClass]="{
              ' me-2 text-success': reponsevalidationDetails === true,
              ' me-2 text-danger': reponsevalidationDetails === false
            }"
          >
            {{ messagevalidationDetails }}
          </i>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <input
              type="text"
              class="form-control"
              placeholder="ID"
              formControlName="ID"
              hidden
            />
            <input
              type="text"
              class="form-control"
              placeholder="Désignation *"
              formControlName="designation"
            />
          </div>

          <!-- <div class="col-6 mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" checked formControlName="estControle">
                            </div>
                        </div>
                        <input type="text" class="form-control" disabled value="Contrôlé">
                    </div>
                </div>
    
                <div class="col-6" [hidden]="!detailGroup.get('estControle').value">
                    <div class="input-group">
                        <input type="number" class="form-control" min="1" max="360" formControlName="duree" [required]="detailGroup.get('estControle').value ? detailGroup.get('estControle').value : false">
                        <div class="input-group-append">
                            <span class="input-group-text">Jour(s)</span>
                        </div>
                    </div>
                </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="ajoutDetails()"
          [disabled]="typeentretiendetailsForm.invalid"
        >
          Valider
        </button>
      </div>
    </form>
  </div>
</div>
