<section class="content-header" [@simpleFadeAnimation]="'in'">
  <!-- /.content-header -->

  <div class="row">
    <div class="col-lg-12">
      <section class="card">
        <h2 class="card-title"></h2>
        <!--Liste des Véhicules-->

        <div class="spinner4" *ngIf="isLoadingResults">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>

        <section class="card card-primary">
          <header class="card-header bg-secondary" style="padding: 10px">
            <div class="row">
              <div class="col-md-9 text-left">
                <h2
                  class="card-title text-white"
                  style="padding: 0px; margin: 0px"
                >
                  <span style="font-weight: 500" class="text-warning mr-2"
                    >GESTION</span
                  >- AFFECTATION EN CARBURANT
                </h2>
              </div>

              <div class="col-md-3 text-right">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="actionClose(1)"
                  [ngClass]="{ hidden: ActionOpen }"
                >
                  <i class="fa fa-plus"></i> NOUVEAU
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="actionClose(0)"
                  [ngClass]="{ hidden: ActionClose }"
                >
                  <i class="fas fa-times"></i> FERMER
                </button>
              </div>
            </div>
          </header>

          <div class="card-body">
            <div class="row" [ngClass]="{ hidden: hidden }">
              <!--  -->

              <div class="col-md-12" style="padding-top: 5px">
                <form
                  [formGroup]="vehiculeForm"
                  (ngSubmit)="onSubmitForm(vehiculeForm.value)"
                  class="ecommerce-form action-buttons-fixed"
                  action="#"
                  method="post"
                >
                  <input
                    type="text"
                    hidden
                    class="form-control"
                    formControlName="AffectCaburantID"
                    id="AffectCaburantID"
                  />

                  <div class="row">
                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Date <span class="Oblig">*</span></label
                      >
                      <input
                        type="date"
                        formControlName="DateAffectCaburant"
                        class="form-control form-control-modern"
                        id="DateAffectCaburant"
                      />
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Véhicule <span class="Oblig">*</span></label
                      >
                      <select
                        id="inputState"
                        class="form-control form-control-modern"
                        name="stockStatus"
                        formControlName="VehiculeAffectCaburant"
                      >
                        <option selected value="">-- Choisir --</option>
                        <option
                          *ngFor="let veh of listeVehicules"
                          [value]="veh.ID"
                        >
                          [{{ veh.imatriculation | uppercase }}] -
                          {{ veh.marque | uppercase }}
                          {{ veh.modele | uppercase }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Direction Démandeuse
                        <span class="Oblig">*</span></label
                      >
                      <select
                        id="DirectionAffectCaburant"
                        formControlName="DirectionAffectCaburant"
                        class="form-control form-control-modern"
                        name="DirectionAffectCaburant"
                      >
                        <option selected value="">------ Choisir ------</option>
                        <option
                          *ngFor="let dir of listeDirection"
                          [value]="dir.Id_direction"
                        >
                          {{ dir.LibelleDirection | uppercase }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Direction Bénéficiaire</label
                      >
                      <select
                        id="DirectionBeneficAffectCaburant"
                        formControlName="DirectionBeneficAffectCaburant"
                        class="form-control form-control-modern"
                        name="DirectionBeneficAffectCaburant"
                      >
                        <option selected value="">------ Choisir ------</option>
                        <option
                          *ngFor="let dir of listeDirection"
                          [value]="dir.Id_direction"
                        >
                          {{ dir.LibelleDirection | uppercase }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Activité <span class="Oblig">*</span></label
                      >
                      <select
                        id="ActiviteAffectCaburant"
                        class="form-control form-control-modern"
                        name="ActiviteAffectCaburant"
                        formControlName="ActiviteAffectCaburant"
                      >
                        <option selected value="">-- Choisir --</option>
                        <option
                          *ngFor="let act of listeactivite"
                          [value]="act.ID"
                        >
                          {{ act.designation | uppercase }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Emission</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-modern"
                        id="EmissionAffectCaburant"
                        formControlName="EmissionAffectCaburant"
                      />
                    </div>

                    <div class="col-md-4 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Cuvre <span class="Oblig">*</span></label
                      >
                      <select
                        id="CuvreAffectCaburant"
                        class="form-control form-control-modern"
                        name="CuvreAffectCaburant"
                        formControlName="CuvreAffectCaburant"
                      >
                        <option selected value="">-- Choisir --</option>
                        <option
                          selected
                          *ngFor="let cu of listecuve.results"
                          [value]="cu.ID"
                        >
                          [{{ cu.cuve_nom | uppercase }}] -
                          {{ cu.designation | uppercase }}
                          <span class="text-danger"
                            >{{ cu.nblitrereel | number }} Litre(s)</span
                           >
                        </option>
                      </select>
                      <!--small class="text-danger">Restant: 1500L</small-->
                    </div>

                    <div class="col-md-2 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Nb. Litre <span class="Oblig">*</span></label
                      >
                      <input
                        type="number"
                        class="form-control form-control-modern"
                        id="nbLitreAffectCaburant"
                        formControlName="nbLitreAffectCaburant"
                      />
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Numéro carte carburant<span class="text-danger"
                          >*</span
                        ></label
                      >
                      <select
                        id="inputState"
                        class="form-control form-control-modern"
                        name="stockStatus"
                        formControlName="CarteApproNumcarte"
                        (change)="changecarte($event.target.value)"
                      >
                        <option selected value="">-- Choisir --</option>
                        <option
                          *ngFor="let cart of listeData"
                          [value]="cart.ID"
                        >
                          [{{ cart.compagnieName }}] - {{ cart.NumeroCarte }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Dotation mensuelle</label
                      >
                      <input
                        disabled
                        type="number"
                        class="form-control form-control-modern"
                        id="inputPassword4"
                        formControlName="CarteDotationmensuel"
                      />
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Affectation Direction</label
                      >
                      <input
                        disabled
                        type="text"
                        class="form-control form-control-modern"
                        id="inputPassword4"
                        formControlName="CarteDotationDirAffect"
                      />
                    </div>
                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Affecté à</label
                      >

                      <input
                        disabled
                        type="text"
                        class="form-control form-control-modern"
                        id="inputPassword4"
                        formControlName="CarteDotationUserAffect"
                      />
                    </div>

                    <div class="col-md-3 inputSpace">
                      <label for="inputEmail4" class="form-label inputSpaceText"
                        >Montant</label
                      >
                      <input
                        type="number"
                        class="form-control form-control-modern"
                        id="inputPassword4"
                        formControlName="MontantAffectCaburant"
                      />
                    </div>

                    <!--div class="col-md-2 inputSpace">
                                <label for="inputEmail4" class="form-label inputSpaceText">Prix Total</label>
                                <input readonly type="number" value="" placeholder="1" class="form-control form-control-modern" id="inputPassword4">
                              </div-->

                    <div class="col-md-9 inputSpace">
                      <label
                        for="inputPassword4"
                        class="form-label inputSpaceText"
                        >Observations</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-modern"
                        id="inputPassword4"
                        formControlName="ObservationAffectCaburant"
                      />
                      <!--textarea id="story" name="story" rows="2" cols="33" class="form-control form-control-modern"> </textarea-->
                    </div>
                    <!--ERREUR ICI-->
                    <div class="col-12 col-md-12 text-center">
                      <button
                        style="margin-right: 10px"
                        type="submit"
                        [disabled]="vehiculeForm.invalid"
                        class="submit-button btn btn-success btn-px-4 py-3 align-items-center font-weight-semibold line-height-1"
                        data-loading-text="Loading..."
                      >
                        <i class="fas fa-save text-4 mr-1"></i> Enregister
                      </button>

                      <span
                        class="submit-button btn btn-danger btn-px-4 py-3 align-items-center font-weight-semibold line-height-1"
                        (click)="actionClose(0)"
                      >
                        <i class="fas fa-times text-4 mr-1"></i> Quitter
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="spinner4" *ngIf="ModifsLoadingResults">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>

              <div class="col-md-12" style="margin-top: 20px">
                <mat-form-field>
                  <mat-label>Rechercher</mat-label>
                  <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Immatriculation , modèle , direction ..."
                    #input
                  />
                </mat-form-field>

                <div>
                  <table
                    class="table table-responsive-md table-bordered table-striped mb-0 fontTable"
                    mat-table
                    [dataSource]="dataSource"
                    matSort
                  >
                    <ng-container matColumnDef="number">
                      <th
                        *matHeaderCellDef
                        mat-sort-header
                        style="width: 1%"
                        class="text-center"
                      >
                        #
                      </th>
                      <td
                        *matCellDef="let vehicule; let i = index"
                        class="text-center"
                      >
                        {{ i + 1 }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="datecreation">
                      <th *matHeaderCellDef mat-sort-header style="width: 3%">
                        Date Affect.
                      </th>
                      <td *matCellDef="let vehicule">
                        {{ vehicule.DateAffectCaburant | date : "dd/MM/yyyy" }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="DirectionDemandeuse">
                      <th *matHeaderCellDef mat-sort-header style="width: 10%">
                        Véhicule
                      </th>
                      <td *matCellDef="let vehicule">
                        [{{ vehicule.imatriculation | uppercase }}] - {{ vehicule.marquedesignation | uppercase }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="activité">
                      <th *matHeaderCellDef mat-sort-header style="width: 10%">
                        Activité
                      </th>
                      <td *matCellDef="let vehicule">
                        {{ vehicule.designationActivite | uppercase }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="cuve_nom">
                      <th *matHeaderCellDef mat-sort-header style="width: 8%">
                        Cuve
                      </th>
                      <td *matCellDef="let vehicule">
                        {{ vehicule.cuve_nom | uppercase }} - {{ vehicule.energiedesignation | uppercase }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="nbLitreAffectCaburant">
                      <th *matHeaderCellDef mat-sort-header style="width: 5%">
                        Nb. Litre
                      </th>
                      <td *matCellDef="let vehicule">
                        {{ vehicule.nbLitreAffectCaburant }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="NumeroCarte">
                      <th *matHeaderCellDef mat-sort-header style="width: 10%">
                        N° carte carb.
                      </th>
                      <td *matCellDef="let vehicule">
                        <span class="text-success" style="font-weight: 500">
                          {{ vehicule.NumeroCarte }}</span
                        >
                      </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="MontantAffectCaburant">
                      <th *matHeaderCellDef mat-sort-header style="width: 3%">
                       Montant
                      </th>
                      <td *matCellDef="let vehicule">
                        <span class="text-success" style="font-weight: 500">
                          {{ vehicule.MontantAffectCaburant }}</span
                        >
                      </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="action">
                      <th
                        *matHeaderCellDef
                        mat-sort-header
                        style="width: 5%"
                      ></th>
                      <td *matCellDef="let vehicule">
                        <button
                          type="button"
                          class="btn btn-secondary btn-sm mr-2"
                          (click)="loadOne(vehicule.affectID)"
                        >
                          <i class="nav-icon fas fa-edit"></i>
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="ItemSupprime(vehicule.affectID)"
                          data-toggle="modal"
                          data-target="#modal-info"
                        >
                          <i class="nav-icon fas fa-trash"></i>
                        </button>
                      </td>
                    </ng-container>

                    <!-- Color Column -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>

                  <mat-paginator
                    [pageSizeOptions]="[10, 20, 30, 100]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>

  <!-- /.container-fluid -->
</section>

<!-- /.modal -->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content bg-default">
      <div class="modal-header" style="height: 50px">
        <h2 class="modal-title">PARC AUTO - RTI</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous supprimer une energie ?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="supprime()"
          data-dismiss="modal"
        >
          Supprimer
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.modal -->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content bg-default">
      <div class="modal-header" style="height: 50px">
        <h2 class="modal-title">PARC AUTO - RTI</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez-vous supprimer la marque ?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="supprime()"
          data-dismiss="modal"
        >
          Supprimer
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
