<div class="pt-4">
    <div class="bg-dark py-2 px-3 rounded">
        <h3 class="m-0 d-flex text-warning"><div class="text-muted">
            <i class="fa fa-sitemap"></i>&nbsp;&nbsp;
            STRUCTURE .::. </div>Type entretien
        </h3>
    </div>
    <div class="border rounded px-3 py-2 mt-3">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <p>
                <i class="fa fa-plus-circle text-success"></i>&nbsp;&nbsp;
                Nouveau Type Entretien
            </p>
            <button class="btn btn-sm btn-warning" *ngIf="varID" (click)="resetDetails()" data-toggle="modal"
                data-target="#staticBackdrop">
                <i class="fas fa-plus-circle"></i>
                Ajout détails
            </button>
        </div>
        <div class="d-flex">
            <div class="w-50">
                <form [formGroup]="typeentretienForm">
                    <div class="row">
                        <div class="col-12 form-group">
                            <input type="text" class="form-control" formControlName="ID" placeholder="ID " [(ngModel)]="varID" hidden>
                            <input type="text" class="form-control" formControlName="designation" placeholder="Désignation *">
                            </div>
                            
                            <div class="col-6 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                        <input type="checkbox" id="check" checked formControlName="controlle" [(ngModel)]="controlle">
                                        </div>
                                        </div>
                                        <input type="text" class="form-control" disabled value="Contrôle sur entretien">
                                        </div>
                                        </div>
                        <div class="col-6">
                            <div class="input-group" *ngIf="controlle==true">
                                <input type="number" class="form-control" formControlName="nbjourlimite" min="1" max="365">
                                <div class="input-group-append">
                                    <span class="input-group-text">Jour(s)</span>
                                </div>
                            </div>
                            </div>
                            
                            <div class="col-6 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                        <input type="checkbox" checked formControlName="programable">
                                        </div>
                                        </div>
                                        <input type="text" class="form-control" disabled value="Programmable">
                                        </div>
                                        </div>
                        <div class="col-6">
                            <div class="input-group" hidden>
                                <input type="number" class="form-control" formControlName="intervaljourprog" min="1" max="360" value="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">Jour(s)</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-danger" (click)="reinitialiseForm()">
                                Annuler
                            </button>
                            <button class="btn btn-success ml-3" (click)="enregistrer()" [disabled]="typeentretienForm.invalid">
                                <i class="fa fa-database"></i>
                                Enregistrer
                            </button>
                            </div>
                            </div>
                </form>
            </div>
            <div class="ml-3" style="width: 50%;" *ngIf="varID">
                <table class="table table-striped border">
                    <thead class="table-dark">
                        <tr>
                            <th class="py-1">Désignation.</th>
                            <th class="py-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-2">designation </td>
                            <td class="py-2" align="right">
                                <button class="btn btn-sm btn-outline-primary py-1" data-toggle="modal" data-target="#staticBackdrop">
                                    <small><i class="fas fa-edit"></i></small>
                                </button>

                                <button class="btn btn-sm btn-outline-danger py-1 ml-2">
                                    <small><i class="fas fa-trash"></i></small>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td class="py-2" colspan="2" align="center"><small>Cliquez sur le bouton <strong>Ajout détails</strong> pour ajouter les détails de l'entretien.</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="border rounded px-3 py-2 mt-3">
        <div class="d-flex mb-3 justify-content-between align-items-center">
            <div class="w-50">
                <input type="search" class="form-control w-10" placeholder="Tapez votre recherche ici...">
            </div>
            <div class="rounded text-muted border py-2 px-3">
                Total :: 25
            </div>
        </div>
        <table class="table table-striped border">
            <thead class="table-dark">
                <tr>
                    <th class="py-1">Désignation.</th>
                    <th class="py-1">Est contrôlé.</th>
                    <th class="py-1">Interval de contrôle.</th>
                    <th class="py-1">Est programmable.</th>
                    <!--th class="py-1">Interval de programmation.</th-->
                    <th class="py-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typeentretien of data ">
                    <td class="py-2">{{typeentretien.designation}}</td>
                    <td class="py-2 " align="center" [ngClass]="setColor(typeentretien.controlle)">
                        <i *ngIf="typeentretien.controlle == 1" class="fas fa-check"></i>
                        <i *ngIf="typeentretien.controlle == 0" class="fas fa-window-close"></i>
                    </td>
                    <td class="py-2">{{typeentretien.nbjourlimite}} jours</td>
                    <td class="py-2 " align="center" [ngClass]="setColor(typeentretien.programable)">
                        <i *ngIf="typeentretien.programable == 1" class="fas fa-check"></i>
                        <i *ngIf="typeentretien.programable == 0" class="fas fa-window-close"></i>
                    </td>
                    <!--td class="py-2">{{typeentretien.intervaljourprog}} jours </td-->
                    <td class="py-2" align="right">
                        <button class="btn btn-sm btn-outline-info py-1" routerLink="/admin/admin/structure/entretien-filtre">
                            <small><i class="fas fa-list-alt"></i></small>
                        </button>
                        <button class="btn btn-sm btn-outline-primary py-1 ml-2" (click)="getOneTypeentretien(typeentretien.ID)">
                            <small><i class="fas fa-edit"></i></small>
                        </button>
                        <button class="btn btn-sm btn-outline-danger py-1 ml-2">
                            <small><i class="fas fa-trash"></i></small>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="staticBackdrop">
    <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="typeentretiendetailsForm" class="modal-content">
        <div class="modal-header bg-dark">
        <h3 class="modal-title m-0">Edition détails</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="message message--success bg-light" *ngIf="validationDetails">
                <i class="fa fa-check me-2 text-success"></i>
            {{messagevalidationDetails}}
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="ID" formControlName="ID">
                    <input type="text" class="form-control" placeholder="Désignation *" formControlName="designation">
                </div>
    
                <!-- <div class="col-6 mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" checked formControlName="estControle">
                            </div>
                        </div>
                        <input type="text" class="form-control" disabled value="Contrôlé">
                    </div>
                </div>
    
                <div class="col-6" [hidden]="!detailGroup.get('estControle').value">
                    <div class="input-group">
                        <input type="number" class="form-control" min="1" max="360" formControlName="duree" [required]="detailGroup.get('estControle').value ? detailGroup.get('estControle').value : false">
                        <div class="input-group-append">
                            <span class="input-group-text">Jour(s)</span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-success" (click)="ajoutDetails()"
            [disabled]="typeentretiendetailsForm.invalid">Valider</button>
        </div>
    </form>
    </div>
  </div>