<div class="pt-4">
    <div class="bg-dark py-2 px-3 rounded">
        <h3 class="m-0 d-flex text-warning"><div class="text-muted">
            <i class="fa fa-sitemap"></i>&nbsp;&nbsp;
            STRUCTURE .::. </div>Type entretien
        </h3>
    </div>
    <div class="border rounded px-3 py-2 mt-3">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <p>
                <i class="fa fa-plus-circle text-success"></i>&nbsp;&nbsp;
                Nouveau Type Entretien
            </p>
            <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#staticBackdrop" (click)="isSuccess = false; isUpdate = false; detailGroup.reset()">
                <i class="fas fa-plus-circle"></i>
                Ajout détails
            </button>
        </div>
        <div class="d-flex">
            <div class="w-50">
                <div class="row">
                    <div class="col-12 form-group">
                        <input type="text" class="form-control" placeholder="Désignation *">
                    </div>
        
                    <div class="col-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="check" checked [(ngModel)]="isControled">
                                </div>
                            </div>
                            <input type="text" class="form-control" disabled value="Contrôle sur entretien">
                        </div>
                    </div>
        
                    <div class="col-6">
                        <div class="input-group" [hidden]="!isControled">
                            <input type="number" class="form-control" min="1" max="360">
                            <div class="input-group-append">
                                <span class="input-group-text">Jour(s)</span>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-6 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" checked>
                                </div>
                            </div>
                            <input type="text" class="form-control" disabled value="Programmable">
                        </div>
                    </div>
        
                    <!-- <div class="col-6">
                        <div class="input-group" [hidden]="!isProgrammed">
                            <input type="number" class="form-control" min="1" max="360">
                            <div class="input-group-append">
                                <span class="input-group-text">Jour(s)</span>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-12">
                        <button class="btn btn-danger">
                            Annuler
                        </button>
                        <button class="btn btn-success ml-3">
                            <i class="fa fa-database"></i>
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
            <div class="ml-3" style="width: 50%;">
                <table class="table table-striped border">
                    <thead class="table-dark">
                        <tr>
                            <th class="py-1">Désignation.</th>
                            <th class="py-1"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="details.length > 0">
                        <tr *ngFor="let detail of details; let i = index">
                            <td class="py-2">{{ detail.designation }}</td>
                            <td class="py-2" align="right">
                                <button class="btn btn-sm btn-outline-primary py-1" (click)="onUpdateDetail(detail)" data-toggle="modal" data-target="#staticBackdrop">
                                    <small><i class="fas fa-edit"></i></small>
                                </button>

                                <button class="btn btn-sm btn-outline-danger py-1 ml-2" (click)="onRemoveDetail(i)">
                                    <small><i class="fas fa-trash"></i></small>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                    <tbody *ngIf="details.length == 0">
                        <tr>
                            <td class="py-2" colspan="2" align="center"><small>Cliquez sur le bouton <strong>Ajout détails</strong> pour ajouter les détails de l'entretien.</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="border rounded px-3 py-2 mt-3">
        <div class="d-flex mb-3 justify-content-between align-items-center">
            <div class="w-50">
                <input type="search" class="form-control w-10" placeholder="Tapez votre recherche ici...">
            </div>
            <div class="rounded text-muted border py-2 px-3">
                Total :: 25
            </div>
        </div>
        <table class="table table-striped border">
            <thead class="table-dark">
                <tr>
                    <th class="py-1">Désignation.</th>
                    <th class="py-1">Est contrôlé.</th>
                    <th class="py-1">Interval de contrôle.</th>
                    <th class="py-1">Est programmable.</th>
                    <th class="py-1">Interval de programmation.</th>
                    <th class="py-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let n of [].constructor(5)">
                    <td class="py-2">Entretien climatiseur</td>
                    <td class="py-2 text-success" align="center">
                        <i class="fas fa-check"></i>
                    </td>
                    <td class="py-2">2 jours</td>
                    <td class="py-2 text-danger" align="center">
                        <i class="fas fa-window-close"></i>
                    </td>
                    <td class="py-2">12 jours</td>
                    <td class="py-2" align="right">
                        <button class="btn btn-sm btn-outline-info py-1" routerLink="/admin/admin/structure/entretien-filtre">
                            <small><i class="fas fa-list-alt"></i></small>
                        </button>
                        <button class="btn btn-sm btn-outline-primary py-1 ml-2">
                            <small><i class="fas fa-edit"></i></small>
                        </button>
                        <button class="btn btn-sm btn-outline-danger py-1 ml-2">
                            <small><i class="fas fa-trash"></i></small>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="staticBackdrop">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content" [formGroup]="detailGroup" (ngSubmit)="onAddDetail()">
        <div class="modal-header bg-dark">
          <h3 class="modal-title m-0">{{ isUpdate ? 'Modifier un détail' : 'Ajouter un détail' }}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="message message--success bg-light" *ngIf="isSuccess">
                <i class="fa fa-check me-2 text-success"></i>
                {{ isUpdate ? 'Modifié avec succès' : 'Ajouté avec succès' }}
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" placeholder="Désignation *" formControlName="designation">
                </div>
    
                <!-- <div class="col-6 mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" checked formControlName="estControle">
                            </div>
                        </div>
                        <input type="text" class="form-control" disabled value="Contrôlé">
                    </div>
                </div>
    
                <div class="col-6" [hidden]="!detailGroup.get('estControle').value">
                    <div class="input-group">
                        <input type="number" class="form-control" min="1" max="360" formControlName="duree" [required]="detailGroup.get('estControle').value ? detailGroup.get('estControle').value : false">
                        <div class="input-group-append">
                            <span class="input-group-text">Jour(s)</span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-success" [disabled]="detailGroup.invalid">{{ isUpdate ? 'Modifier' : 'Ajouter' }}</button>
        </div>
    </form>
    </div>
  </div>