
.nav-tabs .nav-link.active{
    color: #F7812F;
   font-size: 18px;
   font-weight: 500;
  }
  
  .nav-tabs .nav-link{
   /* color: #F7812F;*/
   font-size: 16px;
   font-weight: 500;
  }
  
  .tablebg{
    background-color:#F7812F;
    text-transform: uppercase;
  }
  
  .ligne {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 3px solid #F7812F;
  }
  