<section class="content-header" [@simpleFadeAnimation]="'in'">

    <!-- /.content-header -->
   
    <div class="row" >
     <div class="col-lg-12">
         <section class="card">
   
                 <h2 class="card-title"></h2><!--Liste des Véhicules-->
        
          
                 <div class="spinner4" *ngIf="isLoadingResults">
                   <div class="bounce1"></div>
                   <div class="bounce2"></div>
                   <div class="bounce3"></div>
               </div>
   
             <section class="card card-primary">
   
                 <header class="card-header bg-secondary" style="padding: 10px">
                  <div class="row">
                    <div class="col-md-9 text-left">
                      <h2 class="card-title text-white" style="padding: 0px; margin: 0px;">
                        <span style="font-weight: 500;" class="text-warning mr-2">REFERENTIEL</span>- ENERGIE DE VEHICULES</h2>
                 
                    </div>
                
                  <div class="col-md-3 text-right">
                      <button type="button" class="btn btn-success btn-sm" (click)="actionClose(1)" [ngClass]="{'hidden': ActionOpen}">
                        <i class="fa fa-plus mr-2"></i> NOUVEAU</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="actionClose(0)" [ngClass]="{'hidden': ActionClose}">
                          <i class="fas fa-times mr-2"></i>FERMER</button>
                  </div>
              </div>
                       </header>
             
                 <div class="card-body">
                 
           
                   <div class="row" [ngClass]="{'hidden': hidden}"><!--  -->
     
                    <div class="col-md-12" style="padding-top: 5px">
                      <div class="d-flex">
                        <div class="w-50">
                          <form [formGroup]="vehiculeForm" (ngSubmit)="onSubmitForm(vehiculeForm.value)">
                            <div class="row">
                              <div class="col-12 form-group">
                                <input hidden
                                  type="text"
                                  class="form-control"
                                  formControlName="EnergieID"
                                  placeholder="EnergieID "
                                 
                                  
                                />
                                <label
                                  for="designation"
                                  class="form-label inputSpaceText"
                                  >Désignation <span class="Oblig">*</span></label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  formControlName="designation"
                                />
                              </div>
      
      
                              <div class="col-12 col-md-12 text-center" >
                                <button *ngIf="hiddenTabSave" style="margin-right: 10px;" type="submit" [disabled]="vehiculeForm.invalid"
                                  class="submit-button btn btn-success btn-px-4 py-3 align-items-center font-weight-semibold line-height-1"
                                  data-loading-text="Loading...">
                                  <i class="fas fa-save text-4 mr-1"></i> Enregister
                                </button>
                          
                                <span class="submit-button btn btn-danger btn-px-4 py-3 align-items-center font-weight-semibold line-height-1" (click)="actionClose(0)">
                                  <i class="fas fa-times text-4 mr-1"></i> Quitter
                                </span>
                          
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="ml-3" style="width: 50%">
                          
                          <table class="table table-striped border">
                            <thead class="table-dark">
                              <tr>
                                <th class="py-1 text-4 p-2">
                                  <button
                                  class="btn btn-sm btn-warning mr-2"
                                  *ngIf="varEnergieID"
                                  (click)="resetDetails()"
                                  data-toggle="modal"
                                  data-target="#staticBackdrop"
                                >
                                  <i class="fas fa-plus-circle"></i>
                                  Ajout détails
                                </button>
                                 Liste des détails d'energie
                                </th>
                                <th class="py-1">
                           
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="
                                  let detail of dataD
                                    | paginate
                                      : {
                                          itemsPerPage: tableSizeD,
                                          currentPage: pageD,
                                          totalItems: countD
                                        };
                                  let i = index
                                "
                              >
                                <td class="py-2">{{ detail.dateprix | date : "dd/MM/yyyy" }} | Prix: {{ detail.prix |number }}</td>
                                <td class="py-2" align="right">
                                  <!--button
                                    class="btn btn-sm btn-outline-primary py-1"
                                    (click)="getOneDetailsByID(detail.ID)"
                                    data-toggle="modal"
                                    data-target="#staticBackdrop"
                                  >
                                    <small><i class="fas fa-edit"></i></small>
                                  </button-->
                                  <button
                                    class="btn btn-sm btn-outline-danger py-1 ml-2"
                                    (click)="
                                    ItemSupprime(detail.ID, 'detailEnergie')
                                    " type="button" data-toggle="modal"
                                    data-target="#modal-info"
                                  >
                                    <small><i class="fas fa-trash"></i></small>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
      
                            <tbody>
                              <tr>
                                <td class="py-2" colspan="2" align="center">
                                  <small
                                    >Cliquez sur le bouton
                                    <strong>Ajout détails</strong> pour ajouter les
                                    détails de l'entretien.</small
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div
                            class="px-2 d-flex justify-content-end align-items-center"
                            style="font-size: smaller"
                            *ngIf="dataD.length > 0"
                          >
                            <p>Total : [ {{ dataD.length }} ]</p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
                            <div class="d-flex mr-3">
                              Enregistrements par page :&nbsp;&nbsp;
                              <select
                                id="items-per-page"
                                #value
                                class="mr-3 mb-3"
                                (change)="changeSizeD(value.value)"
                              >
                                <option
                                  *ngFor="let size of tableSizesD"
                                  [value]="size"
                                >
                                  {{ size }}
                                </option>
                              </select>
                            </div>
      
                            <div class="d-flex justify-content-center">
                              <pagination-controls
                                previousLabel="Précédent"
                                nextLabel="Suivant"
                                (pageChange)="onTableDataChangeD($event)"
                              >
                              </pagination-controls>
                            </div>
                          </div>
                        </div>
                      </div>
      
                     </div>

                    
                  </div>
   
              

                   <div class="row">
                    <div class="spinner4" *ngIf="ModifsLoadingResults">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                    
                    <div class="col-md-12" style="margin-top: 20px;">
                      <mat-form-field >
                          <mat-label>Rechercher une energie</mat-label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="Immatriculation , modèle , direction ..." #input>
                      </mat-form-field>
      
                      <div>
                       
                          <table class="table table-responsive-md  table-bordered table-striped mb-0 fontTable"
                          mat-table [dataSource]="dataSource" matSort>
                          <ng-container matColumnDef="number">
                              <th *matHeaderCellDef mat-sort-header style="width: 1%;" class="text-center"> # </th>
                              <td *matCellDef="let vehicule; let i = index" class="text-center"> {{i + 1}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="designation">
                            <th *matHeaderCellDef mat-sort-header style="width: 10%;">Energie</th>
                            <td *matCellDef="let vehicule">
                                {{vehicule.designation|uppercase}}
                            </td>
                        </ng-container> 

                         
                        <ng-container matColumnDef="dateprix">
                            <th *matHeaderCellDef mat-sort-header style="width: 10%;">Date</th>
                            <td *matCellDef="let vehicule">
                                {{vehicule.dateprix| date: 'dd/MM/yyyy'}}
                            </td>
                        </ng-container> 
                       

                         
                        <ng-container matColumnDef="prix">
                            <th *matHeaderCellDef mat-sort-header style="width: 10%;">Dernier Prix</th>
                            <td *matCellDef="let vehicule">
                                {{vehicule.prix|number}} Fcfa
                            </td>
                        </ng-container> 
                       
                       
      
                          <!-- Color Column -->
                          <ng-container matColumnDef="action">
                              <th *matHeaderCellDef mat-sort-header style="width: 8%;"> </th>
                              <td *matCellDef="let vehicule">
                               
                                  <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="loadOne(vehicule.ID)">
                                      <i class="nav-icon fas fa-edit"></i>
                                  </button>
                                  <button type="button" class="btn btn-danger btn-sm"
                                      (click)="ItemSupprime(vehicule.IdAuto, 'Energie')" data-toggle="modal"
                                      data-target="#modal-info">
                                      <i class="nav-icon fas fa-trash"></i>
                                  </button> 
                              
                              </td> 
                          </ng-container>
      
                          <!-- Color Column -->
      
      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
      
                      <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]" showFirstLastButtons
                          aria-label="Select page of periodic elements">
                      </mat-paginator>
      
      
                        </div>
                  </div>
                   </div>
                 </div>
     
     
             </section>
             
             
       
         </section>
     </div>
   
   </div>
   
       <!-- /.container-fluid -->
   </section>


   <!-- /.modal -->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
      <div class="modal-content bg-default">
          <div class="modal-header" style="height: 50px;">
              <h2 class="modal-title">PARC AUTO - RTI </h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <p>Voulez-vous supprimer une energie ?</p>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-danger" (click)="supprime()"
                  data-dismiss="modal">Supprimer</button>
          </div>
      </div>
      <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.modal -->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
      <div class="modal-content bg-default">
          <div class="modal-header" style="height: 50px;">
              <h2 class="modal-title">PARC AUTO - RTI </h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <p>Voulez-vous supprimer la marque ?</p>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-danger" (click)="supprime()"
                  data-dismiss="modal">Supprimer</button>
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div class="modal fade" tabindex="-1" id="staticBackdrop">
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="typeentretiendetailsForm" (ngSubmit)="ajoutDetails(typeentretiendetailsForm.value)" class="modal-content">
      <div class="modal-header bg-dark">
        <h3 class="modal-title m-0">Ajout / Modification des details</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <div class="row">
          <div class="col-12 form-group">
            <input hidden
              type="text"
              class="form-control"
              placeholder="EnergieDetailID"
              formControlName="EnergieDetailID"
              />
            <input
              type="text"
              class="form-control"
              placeholder="Désignation *"
              formControlName="designationDetail"
            />
          </div>
          <div class="col-md-6 inputSpace">
            <label for="dateprix" class="form-label inputSpaceText">Date prix <span class="Oblig">*</span></label>
            <input type="date" class="form-control" formControlName="dateprix" id="dateprix">
          </div>

          <div class="col-md-6 inputSpace">
              <label for="prix" class="form-label inputSpaceText">Prix <span class="Oblig">*</span></label>
              <input type="number" class="form-control" formControlName="prix" id="prix">
            </div>

         
    

        </div>
      </div>
      <div class="modal-footer">
        <button
        type="submit"
          class="btn btn-success"
          [disabled]="typeentretiendetailsForm.invalid">
          Valider
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
     
      </div>
    </form>
  </div>
</div>